.cardscontainer {
    margin-top: 20px;
    position: fixed;
    top: 80px;
    background-color: #0c0c0c;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    gap: 5px;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}